@inherits LayoutComponentBase
@inject NavigationManager navigationManager

<div class="bg-dark text-white p-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col navbar-brand">HUNTING SHOP</div>
            <div class="col-2 text-right">
                <button type="button" class="btn btn-outline-light float-right" style="font-weight:bold" 
                    @onclick="@(async _ => await RedirectToAdministration())"    >
                Administration</button>
                <vc:cart-summary />
            </div>
        </div>
    </div>
</div>
<div class="row m-1 p-1">
    @Body
</div>
<div class="container">
    <div class="alert alert-info" role="alert" id="cookieAlert">
        <strong class="text-center"><span class="fa fa-exclamation-circle" aria-hidden="true">&nbsp; WE USE COOKIE</span></strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="float:right"></button>
    </div>
</div>
@code{

    [CascadingParameter]
    Task<AuthenticationState> AuthenticationState { get; set; }

    private async Task RedirectToAdministration()
    {
        if (!(await AuthenticationState).User.Identity.IsAuthenticated)
        {
            navigationManager.NavigateTo("/login");
        }
        else
        {
            navigationManager.NavigateTo("/admin/products");
        }
    }
}